.contatos-container {
    background-color: var(--fundo2);
    padding: 20px;
    margin: 40px;
    text-align: center;
    border-radius: 30px;
  
    .contatos-lista {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
  
      .contato-item {
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 18px;
          color: var(--texto);
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 10px;
          transition: background-color 0.3s ease, transform 0.2s ease;
  
          i {
            font-size: 24px;
            color: var(--primaria);
          }
  
          &:hover {
            background-color: var(--fundo);
            transform: translateY(-5px);
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      margin: 20px;
      padding: 15px;
  
      .contatos-lista {
        gap: 10px;
      }
  
      .contato-item {
        a {
          font-size: 16px;
          padding: 8px 15px;
          gap: 8px;
        }
      }
    }
  }
  