<div class="perfil-container">
  <div class="perfil-informacoes">
    <h1>Jorge Fernando Alves Pereira</h1>
    <div class="informacoes-grid">
      <div class="informacoes">
        <p><strong>Idade:</strong> {{idade()}}</p>
        <p><strong>Estado Civil:</strong> Casado</p>
        <p><strong>Emprego Atual:</strong> Desenvolvedor de Software</p>
        <p><strong>Formação:</strong> Formado em Sistemas de Informação</p>
      </div>
      <div class="informacoes-texto">
        <p>
          Sou Jorge Fernando, um desenvolvedor de software apaixonado por tecnologia e inovação. Formado em Sistemas de
          Informação, tenho experiência no desenvolvimento de soluções eficientes e escaláveis, sempre buscando melhorar
          a experiência do usuário e a performance das aplicações.
          Atualmente, trabalho com tecnologias como .NET e Angular, desenvolvendo aplicações robustas e bem
          estruturadas. Meu objetivo é sempre aprender, evoluir e contribuir para projetos que façam a diferença.
          Seja bem-vindo ao meu espaço! Aqui você encontrará mais sobre meus projetos, habilidades e experiências.
        </p>
      </div>
    </div>
  </div>
</div>