<div class="perfil-container">
    <div class="perfil-imagem">
      <img src="assets/images/Perfil.jpg" alt="Foto de Perfil" />
    </div>
    <div class="perfil-informacoes">
      <h1>Jorge Fernando Alves Pereira</h1>
      <div class="informacoes-grid">
        <div class="informacoes">
          <p><strong>Idade:</strong> {{idade()}}</p>
          <p><strong>Estado Civil:</strong> Casado</p>
          <p><strong>Emprego Atual:</strong> Desenvolvedor de Software</p>
          <p><strong>Formação:</strong> Formado em Sistemas de Informação</p>
        </div>
        <div class="informacoes-texto">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper sapien eget nulla finibus tristique. Sed risus quam, ornare laoreet leo ac, pulvinar viverra nulla. Suspendisse ipsum nunc, vestibulum eu volutpat et, aliquam sit amet sapien. Quisque semper urna magna, ac bibendum dui posuere vel. Pellentesque eget euismod nisi. Duis quis tellus aliquet, sollicitudin augue nec, tempus orci. Integer ullamcorper viverra velit. Morbi sollicitudin, diam ut sagittis aliquam, ipsum justo sodales nulla, sit amet ullamcorper turpis elit et ligula.
          </p>
        </div>
      </div>
    </div>
  </div>
  