<div class="projetos-container">
  <h2>Projetos</h2>

  <div class="projetos-grid">
    <div class="projeto-item" *ngFor="let projeto of projetosVisiveis">
      <div class="imagem-container">
        <img [src]="getIcone(projeto)" [alt]="projeto.nome" class="imagem-projeto" (click)="openSite(projeto.site)" />
      </div>
      <div class="info">
        <h3>{{ projeto.nome }}</h3>
        <div class="icons">
          <a [href]="projeto.github" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a [href]="projeto.site" target="_blank">
            <i class="fas fa-link"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-container" *ngIf="itensPorPagina < totalItens">
    <button *ngIf="showNavButtons" (click)="mudarProjeto('prev')" class="nav-btn">
      <i class="fas fa-chevron-left"></i>
    </button>

    <span class="projetos-intervalo">
      {{ projetosIntervalo }}
    </span>

    <button *ngIf="showNavButtons" (click)="mudarProjeto('next')" class="nav-btn">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

</div>