// Variáveis de cores personalizadas
:root {
    --primaria: #DA9200;
    --secundaria: #082a85;
    --fundo: #121212;
    --fundo2: #1E1E1E;
    --texto: #EAEAEA;
    --texto2: #B0B0B0;
  }
  
  // Definição das cores para uso no Material Theme
  $primary-color: var(--primaria);
  $accent-color: var(--secundaria);
  $background-color: var(--fundo);
  $surface-color: var(--fundo2);
  $text-color: var(--texto);
  $text-secondary-color: var(--texto2);