:root {
  --primaria: #DA9200;
  --secundaria: #123eb6;
  --fundo: #121212;
  --fundo2: #1E1E1E;
  --texto: #EAEAEA;
  --texto2: #B0B0B0;
}

.dark-theme {
  --primaria: #DA9200;
  --secundaria: #123eb6;
  --fundo: #121212;
  --fundo2: #1E1E1E;
  --texto: #EAEAEA;
  --texto2: #B0B0B0;
}

.light-theme {
  --primaria: #DA9200;
  --secundaria: #082a85;
  --fundo: #F8F8F8;
  --fundo2: #d8d8d8;
  --texto: #1E1E1E;
  --texto2: #4A4A4A;
}

.futuristic-theme {
  --primaria: #007BFF;
  --secundaria: #00A9FF;
  --fundo: #1C1C1C;
  --fundo2: #333333;
  --texto: #FFFFFF;
  --texto2: #B0B0B0;
}

$primary-color: var(--primaria);
$accent-color: var(--secundaria);
$background-color: var(--fundo);
$surface-color: var(--fundo2);
$text-color: var(--texto);
$text-secondary-color: var(--texto2);