.experiencias-container {
  background-color: var(--fundo2);
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: 30px;

  .experiencias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    justify-items: center;
    margin: 30px;
  }

  .experiencia-item {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo);
    border: 1px solid var(--secundaria);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease, box-shadow 0.6s ease, height 0.6s ease, scale 0.6s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .icone-dica {
      position: absolute;
      top: 10px;
      right: 10px;
      color: var(--texto);
      padding: 5px;
      font-size: 18px;
      opacity: 1;
      transition: opacity 0.6s ease;
    }

    .icone-header {
      display: grid;
      grid-template-columns: 25% 75%;
      width: 100%;

      .empresa-logo {
        height: 60px;
        width: auto;
        object-fit: contain;
        margin-bottom: 10px;
      }

      .icone-esmpresa-cargo {
        .cargo {
          font-size: 16px;
          font-weight: 600;
          color: var(--secundaria);
        }
      }
    }

    .detalhes {
      opacity: 0;
      max-height: 0;
      transition: opacity 0.6s ease, max-height 0.6s ease;
      text-align: center;
      padding-top: 10px;
    }

    .descricao {
      font-size: 14px;
      color: var(--texto);
      margin: 10px 0;
    }

    .datas {
      font-size: 14px;
      color: var(--texto);
      font-weight: 400;
    }

    &:hover {
      width: 300px;
      height: auto;
      transform: translateY(-10px) scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      padding: 20px;
      z-index: 10;

      .detalhes {
        opacity: 1;
        max-height: 300px;
      }

      .icone-dica {
        opacity: 0;
      }
    }
  }

  @media (max-width: 768px) {
    margin: 20px;
    padding: 15px;

    .experiencias-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }

    .experiencia-item {
      width: 200px;
      height: 200px;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}