.habilidades-tecnicas-container {
    background-color: var(--fundo2);
    padding: 20px;
    margin: 40px;
    text-align: center;
    border-radius: 30px;

    .habilidades-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        gap: 20px;
        justify-items: center;
        margin: 30px;

        .habilidade-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 80px;
            // padding: 10px;
            border-radius: 10px;
            border:1px solid var(--secundaria);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            p {
                font-size: 14px;
                font-weight: 600;
                color: var(--primaria);
            }

            .ico {
                width: auto;
                height: 40px;
                margin-top: 10px;
                mix-blend-mode: difference;
            }
        }
    }
}