.habilidades-tecnicas-container {
  background-color: var(--fundo2);
  padding: 10px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;

  .habilidades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
    justify-items: center;
    margin: 15px;

    .habilidade-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 60px;
      padding: 10px;
      border-radius: 8px;
      background-color: var(--fundo);
      border: 1px solid var(--secundaria);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      // transition: transform 0.2s ease, box-shadow 0.2s ease;

      // &:hover {
      //   transform: translateY(-5px);
      //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      // }

      p {
        font-size: 12px;
        font-weight: 500;
        color: var(--primaria);
        margin-top: 5px;
      }

      i {
        font-size: 30px;
        color: var(--texto);
      }
    }
  }


  @media (max-width: 768px) {
    padding: 15px;
    margin: 20px;
    border-radius: 30px;
  }
}