@import 'styles/colors';
@import 'styles/theme';

// Aplicando o fundo e cor do texto no body
*{
    margin: 0
}
body {
  background-color: var(--fundo);
  color: var(--texto);
  font-family: Roboto, sans-serif;
}
