@import 'styles/colors';
@import 'styles/theme';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--fundo);
  color: var(--texto);
  font-family: Roboto, sans-serif;
  padding-top: 80px;
}

h1 {
  color: var(--texto);
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  width: 100%;

  @media (max-width: 1500px) {
    font-size: 40px;
  }
  
  @media (max-width: 768px) {
    font-size: 32px;
  }

}

h2 {
  color: var(--texto);
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  width: 100%;

  @media (max-width: 1500px) {
    font-size: 40px;
  }
  
  @media (max-width: 768px) {
    font-size: 32px;
  }

}

h3 {
  color: var(--primaria);
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  width: 100%;

  @media (max-width: 1500px) {
    font-size: 23px;
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }

}

p {
  font-size: 18px;
  color: var(--texto2);
  margin-top: 10px;
  text-align: left;
  font-weight: 300;
  line-height: 1.4;

  strong {
    color: var(--texto);
    font-weight: 400;
  }

  @media (max-width: 1500px) {
    font-size: 17px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    text-align: justify;
  }

}

html {
  scroll-behavior: smooth;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  align-items: start;
  margin: 20px 40px 10px 40px;

  @media (max-width: 1500px) {
    grid-template-columns: 60% 40%;
    gap: 15px;
  }
  @media (max-width: 768px) {
    display: block;
    grid-template-columns: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
  }

}
