mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primaria);
  color: var(--texto);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  transition: all 0.3s ease;

  .menu-links {
    display: flex;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: var(--texto);
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  a:hover {
    text-decoration: underline;
    border-radius: 5px;
  }

  .profile-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;

    .profile-pic {
      width: 80px;
      border-radius: 50%;
      border: 4px solid var(--texto);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background-color: var(--fundo2);
    }
  }

  .theme-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--texto);
    background: conic-gradient(var(--primaria) 0% 40%, var(--secundaria) 40% 50%, var(--fundo) 50% 90%, var(--fundo2) 90% 100%);
    transition: background-color 0.3s ease, transform 0.3s ease;

    &.dark-theme {
      background-color: var(--secundaria);
      transform: rotate(180deg);
    }
  }

  .hamburger-menu {
    display: none;
    font-size: 24px;
    color: var(--texto);
    cursor: pointer;
  }

  @media (max-width: 1650px) {
    .menu-links {
      display: none;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      background-color: var(--fundo);
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px 0;
    }

    .hamburger-menu {
      display: block;
    }

    .menu-links.open {
      display: flex;
    }

  }
  @media (max-width: 768px) {

    .profile-container {
      .profile-pic {
        width: 60px;
      }
    }
  }

}
