<mat-toolbar color="primary">
  <div class="menu-links">
    <a mat-button href="#perfil">Perfil</a>
    <a mat-button href="#habilidades-tecnicas">Habilidades Técnicas</a>
    <a mat-button href="#experiencias-profissionais">Experiências Profissionais</a>
    <a mat-button href="#formacoes">Formações</a>
    <a mat-button href="#contatos">Contatos</a>
  </div>

  <!-- Foto de Perfil -->
  <div class="profile-container">
    <img src="assets/images/Perfil.jpg" alt="Foto de Perfil" class="profile-pic" />
  </div>

  <div class="theme-circle" (click)="trocarTema()"></div>
</mat-toolbar>

