mat-toolbar {
  background-color: var(--primaria) !important;
  color: var(--texto) !important;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.spacer {
  flex: 1;
}

button {
  color: var(--texto2) !important;
}

body {
  padding-top: 64px;
}
