<div class="formacoes-container">
  <h2>Formações</h2>
  <div class="formacoes-grid">
    <div class="formacao-item" *ngFor="let formacao of formacoes">
      <div class="logo-e-nome">
        <div class="logo">
          <img [src]="getIcone(formacao)" alt="Logo" />
        </div>
        <div class="info">
          <h3>{{ formacao.nome }}</h3>
        </div>
      </div>
      <div class="info">
        <p>{{ formacao.dataInicio }} - {{ formacao.dataFim }}</p>
        <p class="tipo-formacao">{{ formacao.tipoFormacao }}</p>
        <div class="detalhes" *ngIf="formacao.descricao">
          <p class="descricao">{{ formacao.descricao }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
